<ion-header>
  <ion-navbar>
    <ion-title>
      Locate the shelter you wish to donate to.
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!-- below is bing maps -->

  <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AqBGcbdM62R25R1aIk5BYDur1Y6Ywp2AdtN2w2QZZIONHhZaJh10cLT6hw9U2AQ-' async defer></script>

  <div style="height: 500px">
    <x-map #xmap>
        <x-map-marker *ngFor="let shelter of shelters"
            [Latitude]= "shelter.lat" 
            [Longitude]= "shelter.lng"
            [Title]= "shelter.name" 
            [IconUrl]="'#'" 
            [IconInfo]="{

                markerType: _markerTypeId.FontMarker,
                fontName: 'FontAwesome',
                fontSize: 48,
                color: 'green',
                markerOffsetRatio: { x: 0.5, y: 1 },
                text: '\uF276'
            }">
      </x-map-marker>
    </x-map>
  </div>
  <div>

          <!-- need to make the search bar funtional -->
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
  </ion-list>

    <ion-list>
  <div text-center>
  <div *ngFor="let Shelter of shelters">
    <p> {{Shelter.image}}
      <p>
        <p>
          <b>{{Shelter.name}}</b>
        </p>
        <p>{{Shelter.address}}</p>
        <p>{{Shelter.note}}</p>
       
        <button ion-button color="dark" outline (click)="navigateToShelter1list()">shelter</button>
        <button ion-button color="dark" outline (click)="navigateTodonate()">donate</button>
      </div>
   

    <!--  
    Need to make image appear
    Need to make the list pass through from the .ts file below
    -->


