
 .bg-image{
    background-image: url('https://i.pinimg.com/736x/b0/9f/b6/b09fb6b5ba920bb76d8c1d9ee6572ad6--emerald-city-emerald-green.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.map-placement{
    float: center;
}