<ion-header>
  <ion-navbar>
    <ion-title>
      Locate the shelter you wish to donate to.
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg-image add-margin">

  <h1></h1>

  <agm-map 
  [latitude]="userLocation.lat"
  [longitude]="userLocation.lng"
  (mapClick)="mapClicked($event)">

  <agm-marker 
      *ngFor="let shelter of shelters; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="shelter.lat"
      [longitude]="shelter.lng"
      [label]="shelter.name">
      
    <agm-info-window>
      <strong>InfoWindow content</strong>
    </agm-info-window>
    
  </agm-marker>
  
  <agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
      [radius]="5000"
      [fillColor]="'red'"
      [circleDraggable]="true"
      [editable]="true">
  </agm-circle>

</agm-map>

  <ion-list >
  <div text-center>
  <div *ngFor="let Shelter of shelters">
    <p> {{Shelter.image}}
      <p>
        <p>
          <b>{{Shelter.name}}</b>
        </p>
        <p>{{Shelter.address}}</p>
        <p>{{Shelter.note}}</p>
       
        <button ion-button color="dark" outline (click)="navigateToShelter1list()">shelter</button>
        <button ion-button color="dark" outline (click)="navigateToDonate()">donate</button>
      </div>


 


